html, body {
    padding: 0;
    margin: 0;
    font-family: "Lato", arial, sans-serif;
    background-color: lightslategray;
}

h1 {
    font-size: 60px;
}

.header {
    height: 25vh;
    width: 100vw;
    background: seashell;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 40px;
    width: 150px;
    font-size: 20px;
    border-radius: 50px;
    background-color: darkslategrey;
    color: snow;
}

.content {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passwordBox {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.password {
    border-radius: 10px;
    height: 50px;
    width: 220px;
    margin: 3px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password.pwNumCard {
    width: 70px;
    color: palevioletred;
    background-color: palevioletred;
    transition: background-color 1s linear;
}

.password.pwAdj1Card {
    color: coral;
    background-color: coral;
    transition: background-color 1s linear 0.3s;
}

.password.pwAdj2Card {
    color: seagreen;
    background-color: seagreen;
    transition: background-color 1s linear 0.6s;
}

.password.pwSubCard {
    color: gold;
    background-color: gold;
    transition: background-color 1s linear 0.9s;
}

.password.pwVerbCard {
    color: deepskyblue;
    background-color: deepskyblue;
    transition: background-color 1s linear 1.2s;
}

.password.pwAdvCard {
    color: mediumpurple;
    background-color: mediumpurple;
    transition: background-color 1s linear 1.5s;
}

.password.pwSpecialCard {
    width: 70px;
    color: cadetblue;
    background-color: cadetblue;
    transition: background-color 1s linear 1.8s;
}

.password.pwNumCard.visible {
    background-color: snow;
}

.password.pwAdj1Card.visible {
    background-color: snow;
}

.password.pwAdj2Card.visible {
    background-color: snow;
}

.password.pwSubCard.visible {
    background-color: snow;
}

.password.pwVerbCard.visible {
    background-color: snow;
}

.password.pwAdvCard.visible {
    background-color: snow;
}

.password.pwSpecialCard.visible {
    background-color: snow;
}

.entropy {
    align-self: flex-end;
    height: 30px;
    width: 150px;
    margin: 30px;
    text-align: center;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slidingVertical {
    display: inline;
    text-indent: 8px;
    background-color: seashell;
}

.slidingVertical p {
    animation: topToBottom 2.5s linear infinite 0s;
    color: #00abe9;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

/*topToBottom Animation*/
@keyframes topToBottom {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(-50px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(50px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*CSSTransition*/

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.demo {
    border: solid 1px gold;
    border-radius: 15px;
    background-color: gold;
    height: 15vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
    box-shadow: dimgray;
}

.slots {
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: whitesmoke;
    height: 70px;
    display: flex;
    border-radius: 15px;
    border: solid 4px grey;
}

/*.frame {*/
    /*overflow: hidden;*/
    /*border: solid 1px rebeccapurple;*/
    /*height: 30px;*/
    /*text-align: center;*/
/*}*/

.pwCard {
    background-color: whitesmoke;
    color: gray;
    height: 4vh;
    width: 10vw;
    text-transform: capitalize;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

/*spin button*/
.spin {
    height: 30px;
    width: 50px;
    font-size: 15px;
    border-radius: 50px;

}


